/***********************/
/* General             */
/***********************/

* {
  box-sizing: border-box;
}

body {
  font: 16px/1.5 'Merriweather', serif;
  color: #2d3945;
}

h1 {
  margin: 30px 0;
  font-size: 1.2rem;
}

h2 {
  margin: 30px 0 10px;
  font-size: 1.2rem;
  color: #2d3945;
}

p {
  margin-top: 10px;
  font-size: 1rem;
}

/***********************/
/* Header              */
/***********************/

header {
  background-color: #282828;
  text-transform: uppercase;
  text-align: center;
}

.logo {
  margin-top: 0;
  padding: 30px 0;
  color: #fff;
}


/***********************/
/* Main                */
/***********************/

main {
  width: 90.625%;
  max-width: 600px;
  margin: 0 auto;
}

.intro {
  margin: 25px 0;
  text-align: center;
}

.intro p {
  margin-bottom: 45px;
  color: #a4a9ae;
}

hr {
  margin-top: 20px;
  margin-bottom: 25px;
  border: none;
  border-top: 2px solid #2d3945;
}

.intro hr::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  border: none;
  margin-top: -11px;
  background-color: #2d3945;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  margin: 10px 0 15px;
  font-size: 1.2rem;
  font-weight: bold;
}

label,
fieldset fieldset legend {
  font-size: .9rem;
  font-weight: 300;
  color: #495d70;
}

input,
select,
textarea {
  display: block;
  height: 50px;
  width: 100%;
  margin: 10px 0 15px;
  border: none;
  border-radius: 5px;
  background-color: #eff0f1;
  padding: 1.2rem;
  transition: box-shadow .6s;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px #3674a0 inset;
}

textarea {
  height: 100px;
  margin: 15px 0 25px;
}

::placeholder {
  text-align: right;
  font-size: .8rem;
  font-style: italic;
  color: #a4a9ae;
}

input[name="zip"] {
  max-width: 155px;
}

fieldset.newsletter fieldset {
  margin-bottom: 15px;
}

fieldset.newsletter fieldset legend {
  margin: 15px 0 10px;
}

fieldset.newsletter label {
  width: auto;
}

fieldset.newsletter input[type="checkbox"],
fieldset.newsletter input[type="radio"] {
  display: inline-block;
  height: auto;
  width: auto;
  margin-right: 10px;
}

button[type="submit"] {
  cursor: pointer;
  height: 60px;
  width: 100%;
  margin: 5px 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #3674a0;
  color: #fff;
  font-size: 1.2rem;
}


/***********************/
/* Footer              */
/***********************/

footer {
  text-align: center;
  font-style: italic;
  color: #a4a9ae;
}


/***********************/
/* Media Queries       */
/***********************/

@media (min-width: 768px) {

  .contact label {
    min-width: 150px;
  }

  .contact input,
  .contact select {
    flex-grow: 1;
  }

  .contact .row {
    display: flex;
    align-items: center;
  }
}
